        * {
            margin: 0;
            padding: 0;
            text-align: center;
        }
        
        body {
            background-color: rgb(255, 236, 220);
        }
        
        h1 {
            background-color: #081b31;
            color: rgb(220, 231, 16);
            height: 4rem;
            line-height: 4rem;
        }
        
        h4 {
            background-color: #4a6380;
        }
        
        .choice {
            height: 165px;
            width: 165px;
            border-radius: 90px;
            display: flex;
            justify-content: center;
            /* align-items: center; */
        }
        
        .choice:hover {
            /* opacity: 0.5; */
            cursor: pointer;
            border-radius: 95px;
            background-color: rgba(229, 160, 10, 0.885);
        }
        
        img {
            height: 150px;
            width: 150px;
            object-fit: cover;
            border-radius: 100px;
        }
        
        .choices {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4rem;
            margin-top: 4rem;
        }
        
        .score-board {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            margin-top: 5rem;
            gap: 5rem;
        }
        
        #user-score,
        #comp-score {
            font-size: 4rem;
            color: #ac8e33;
        }
        
        .msg-container {
            margin-top: 5rem;
        }
        
        #msg {
            background-color: rgb(246, 217, 103);
            color: black;
            height: 2rem;
            font-size: 2rem;
            /* display: inline; */
            padding: 0.25rem;
            border-radius: 50rem;
        }